<style>
.build_info {
  font-size: 15px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.report_detail {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.report_detail .project-title {
  font-weight: bolder;
}
</style>
<div class="build_info">
  采集时间: {{ reportDate }}<br>
  当前版本: v1.0 <br>
</div>
<br>
<br>
<center class="report_detail">
  {{#each projectList}}
    <b class="project-title">{{ project }}</b><br>
    总共: [{{ total }}]<br>
    已售出: [{{ sold }}]<br>
    销售率: [{{ ratio }}]<br>
    {{#each buildingList}}
    {{ building }}# {{unsell}}/{{selling}}/{{sold}}/{{locked}}/{{total}}<br>
    {{/each}}
    <br>
  {{/each}}
  <br>
  合计总共: [{{ total }}]<br>
  已售出: [{{ sold }}]<br>
  销售率: [{{ ratio }}]<br>
  <br>
  <br>
  <br>
  {{#each uploadImgList}}
  <img src="{{this}}" />
  {{/each}}
</center>
